{% extends "base.html" %}
{% block title %}Album - {{ album.name }}{% endblock %}
{% block content %}

<span vocab="http://schema.org/" typeof="Album">

<h2><span property="name">{{ album.name }}</span></h2>

	<li> Author: {{ album.name}}</li>
	<li> Year: {{ album.year}}</li>
	<li> Location: {{ album.location}}</li>
	<li> Genre: {{ album.Genre}}</li>
	
</span>
</br>
</br>
<li><a href="{% url 'waifufmapp:album_list' %}"> Go back to the list </a></li>
{% endblock %}
{% block footer %}
{% endblock %}

