{% extends "base.html" %}
{% block title %}{{ album.name }} Details{% endblock %}
{% block content %}

  <span vocab="http://schema.org/" typeof="MusicAlbum">

<h2><span property="name">{{ album.name }}</span></h2>

	<li>Author: <span property="byArtist">{{ album.author}}</span> </li>
		<li>Date Published: <span property="datePublished">{{ album.year}}</span> </li>
		<li>Location: <span property="locationCreated">{{ album.location}}</span> </li>
		<li>Genre: <span property="genre">{{ album.Genre}}</span> </li>


</span>
</span>
</br>

<span vocab="http://schema.org/" typeof="Review">

<h2>Reviews for album: <span property="itemReviewed">{{album.name}}</span>
</h2>

<ul rel="review">
    {% for review in album.albumreview_set.all %}
        <li>
            <p>
            <span property="reviewRating">{{ review.rating }}</span> star{{ review.rating|pluralize }}
            </p>
            <p property="reviewBody">{% if review.comment %}{{ review.comment }}{% endif %}</p>
            <p>Created by
							  <span property="author">{{ review.user }}</span> on
                <span property="datePublished" content="{{ review.date|date:'Y-m-d' }}">{{ review.date }}</span></p>
        </li>
    {% endfor %}
</ul>

</span>

</br>
<a href="{% url 'waifufmapp:review_create' album.id  %}"> Create review </a>
</br>
<a href="{% url 'waifufmapp:album_list' %}"> Go back to the list </a>
{% endblock %}
{% block footer %}
{% endblock %}
