{% load staticfiles %}
<html>
<head>
<title>{% block title %} WaifuFM {% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body background="http://i64.tinypic.com/amuubp.png">
<div id="header">
	{% block header %}
	{% if user.username %}<p>User: {{ user.username }} | <a href="{% url 'logout' %}?next=/waifufm">Logout</a> </p>
	{% else %}<p>Do you have an account? Then <a href="/accounts/login/"> sign in</a>. If not, you can <a href="/accounts/register/">sign up</a></p>{% endif %}
	{% endblock %}
</div>

<div id="sidebar">
    {% block sidebar %}
        <ul>
            <p ALIGN=right><a href="/waifufm"><p align="rigth">Homepage</p></a></p>
        </ul>
    {% endblock %}
</div>

<div id="content">
	{% block content %}
	{% if error_message %}<p><strong>{{ error_message}}</strong></p>{% endif %}
	{% endblock %}
</div>


</body>
</html>