{% extends "base.html" %}

{% block content %}
    <h2>
        <FONT FACE="Arial">Reviews</FONT>
    </h2>


    <ul>

        {% for review in review_list %}


          <li><h3> {{ review.album.name}}</h3></li>
        <a href="{% url 'waifufmapp:review_detail' review.album.id review.id %}">Details</a>
          <li> Review id: {{ review.id }} </li>
          <li> Album id: {{ review.album.id }} </li>
          <li> By {{ review.user }} on {{ review.date }}</li>
          {% if user == review.user %}
            (<a href="{% url 'waifufmapp:review_edit' review.album.id review.id %}">edit review</a>)
            (<a href="{% url 'waifufmapp:review_delete' review.album.id review.id %}">delete review</a>)
          {% endif %}
          <br/>
          <br/>
        {% endfor %}
    </ul>
{% endblock %}