{% extends "base.html" %}

{% block content %}
Review of
<h2>
    {{ albumreview.album.name }}</h2> 

</br>
<div>Rating: {{albumreview.rating}}</div>
<div>{{albumreview.comment }}</div>
</br>
Created by user: '{{ albumreview.user }}' on {{ albumreview.date }}
</br>
</br>
{% if user == albumreview.user %}
            (<a href="{% url 'waifufmapp:review_edit' albumreview.album.id albumreview.id %}">edit review</a>)
            (<a href="{% url 'waifufmapp:review_delete' albumreview.album.id albumreview.id %}">delete review</a>)
          {% endif %}

{% endblock %}
{% block footer %}
   
{% endblock %}