{% extends "base.html" %}

{% block content %}
    <h2>
        <FONT FACE="Arial">Reviews</FONT>
    </h2>


    <ul>
        {% for review in review_list %}
          <li><h3> {{ review.album.name}}</h3></li>
          <li> {{ review.comment }}</li>
          <li> By {{ review.user }}</li>
          <li> Qualification: {{ review.rating }}</li>
          {% if user == review.user %}
            (<a href="{% url 'waifufmapp:review_edit' review.id %}">edit review</a>)
            (<a href="{% url 'waifufmapp:review_delete' review.id %}">delete review</a>)
          {% endif %}
          <br/>
          <br/>
        {% endfor %}
    </ul>
{% endblock %}