{% load staticfiles %}
<html>
<head>
<title>WaifuFM - Login</title>
<link rel="stylesheet" href="{% static "style/base.css" %}" />
</head>
<body background="http://i64.tinypic.com/amuubp.png">
</br></br>
<h2 style="color:#848484";><FONT FACE="Arial"><em>WaifuFM - User Login</em></FONT></h2>
{% if form.errors %}
<p style="color:#FF0000";>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action=".">

<p><label for="id_username">Username:</label>
{{ form.username }}</p>
<p><label for="id_password">Password:</label>
{{ form.password }}</p>
<input type="hidden" name="next" value="/waifufm" />
<input type="submit" value="Login" />
{% csrf_token %}
<a href="/"><p align="rigth">Homepage</p></a>
</form>
</body>
</html>